<?php

// CONFIGURATION
$secret_key = "YOUR_SUPER_SECRET_CODE";
$host = 'YOUR_DB_HOST';
$dbname = 'YOUR_DB_NAME';
$username = 'YOUR_MYSQL_DB_USERNAME';
$password = 'YOUR_MYSQL_DB_PASSWORD';
$table_users = 'your_users_db_table';
////////////////////////////////////////////////////////////////////////////////
$dsn = 'mysql:host=' . $host . ';dbname=' . $dbname;
$pdo = new PDO($dsn, $username, $password);
$db = new SimpleCrud\SimpleCrud($pdo);
////////////////////////////////////////////////////////////////////////////////

// Throwing 404 error
function throw404()
{
  header("HTTP/1.0 404 Not Found");
  exit('<h1>404: Not Found</h1>');
}

// Throwing 401 error
function throw401()
{
  header("HTTP/1.0 401 Unauthorized");
  exit('<h1>401: Invalid Token</h1>');
}

// For verifying token
function verifyToken()
{
  // VERIFY TOKEN
  global $secret_key;
  $headers = getallheaders();
  $auth = isset($headers['Authorization']) ? $headers['Authorization'] : null;
  if ($auth == null) {
    throw401();
  }
  $auth = explode(' ', $auth);
  $token = $auth[1];
  $decoded = \Lindelius\JWT\JWT::decode($token);
  if (!$decoded->verify($secret_key)) {
    throw401();
  }
}
